<html lang="en" dir="ltr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="client.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald" />
        <link type="text/css" rel="stylesheet" href="css/style.css">

        <title></title>
    </head>

<body id="Fbody" onload=" C_S(), setTimeout(function(){if(choose == 1){window.location = 'Result_C.html';}else if (choose == 2){window.location = 'Result_S.html';}}, 1000)" >
    <div id= "Full">
        <nav >
            <div id="dmswitch">Dark_Mode<br/>
                <label class="switch">
                    <input type="checkbox" id="Input" value="OFF" >
                    <span class="slider round"></span>
                </label>
            </div>
          
            <label for="drop" class="toggle" >Menu</label>
            <input type="checkbox" id="drop" />
            <ul class="menu"  >
                <li><a href="home1.html" >HOME</a></li>
                <li><a href="QUIZZ.html" >QUIZ</a></li>
                <li><a href="RELATIONSHIP_ISSUES.html" >RELATIONSHIP ISSUES</a></li>
                <li><a href="CONTACT_US.html" >CONTACT US</a></li>
            </ul>
        </nav>

        <div style="text-align: center;" >

            <section class="wrapper">
                <div class="spinner">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
            </section>
            

            <div>
                <button id="percent" style="margin-top: 300px;" class="rounded_btn_percent" type="text">100%</button>
            </div> 

        </div>
    </div>

        <div id="footer"></div>
        <!-----------------Dark Mode----------------------->
        <script>
            document.getElementById("Input").addEventListener("click",function(event){
                if(document.getElementById("Input").value == "OFF")
                {
                    document.getElementById("Input").value = "ON"
                    document.getElementById("Fbody").style.backgroundColor = "black";
                }
                else if(document.getElementById("Input").value == "ON")
                {
                    document.getElementById("Input").value = "OFF"
                    document.getElementById("MB2").style.color = "black";
                }
            });
        </script>
      
    </body>

</html>
