<html lang="en" dir="ltr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald" />
        <link type="text/css" rel="stylesheet" href="/css/style.css">
        <script type="text/javascript" src="client.js"></script>
        <title></title>
    </head>

<body id="Fbody" onload="result_Couple()" >
    <% if (!currentuser) { %>
                       
            <% }else { %>
            <div class="log_out">
                <a href="/profile">Welcome  <%= currentuser.username %>  | </a>
                <a href = "/logout"> Log out </a> 
            </div>   
                         
    <% } %> 

    <div id= "Full">
        <nav >
            <div id="dmswitch">Dark_Mode<br/>
                <label class="switch">
                    <input type="checkbox" id="Input" value="OFF" >
                    <span class="slider round"></span>
                </label>
            </div>
          
            <label for="drop" class="toggle" >Menu</label>
            <input type="checkbox" id="drop" />
            <ul class="menu"  >
                <% if (!currentuser) { %>
                <li><a href="/" >HOME</a></li>                
                <li><a href="/RELATIONSHIP_ISSUES" >RELATIONSHIP ISSUES</a></li>
                <li><a href="/CONTACT_US" >CONTACT US</a></li>                
                <% }else { %>
                <li><a href="/" >HOME</a></li>  
                <li><a href="/QUIZZ" >QUIZ</a></li>              
                <li><a href="/RELATIONSHIP_ISSUES" >RELATIONSHIP ISSUES</a></li>                
                <li><a href="/CONTACT_US" >CONTACT US</a></li>                
                <% } %> 
            </ul>
        </nav>

        <div style="text-align: center;" >

            <div>
                <p id="R_C" style=" color:rgba(0, 0, 0, 0.534); margin-top: 50px ; margin-bottom: 20px; font-size: 40px; font-weight: bold; "></p>
            </div>

            <div class="result_Img">
                <img src="Image/quality.png" style="width:200px; height: 200px;">
                <div id="q_c" class="centered"></div>
            </div>

            <div class="result_Img">
                <img src="Image/acts.png" style="width:200px; height: 200px;">
                <div id="a_c" class="centered"></div>
            </div>

            <div class="result_Img">
                <img src="Image/words.png" style="width:200px; height: 200px;">
                <div id="w_c" class="centered"></div>
            </div>

            <div class="result_Img">
                <img src="Image/gifts.png" style="width:200px; height: 200px;">
                <div id="g_c" class="centered"></div>
            </div>

            <div class="result_Img">
                <img src="Image/physical.png" style="width:200px; height: 200px;">
                <div id="p_c" class="centered"></div>
            </div>

            <div style="color:rgba(0, 0, 0, 0.500); font-size: 20px; font-weight: 100; margin-top: 30px; margin-bottom: 50px; margin-left: 200px; margin-right: 200px;" >
               <span style="color:rgba(0, 0, 0, 0.540); font-size: 30px; font-weight: bold;">Interpreting and Using Your Profile Score:<br/><br/>
               </span> 
                The highest score indicates your primary language - 
                how you really understand your partner’s expressions of love. 
                It’s common to have two high scores (the highest score being 12), 
                although one language tends to have a slight edge for most people. 
                The lower scores in your profile indicate those languages you seldom 
                use to communicate love and which probably don’t affect you on an 
                emotional level in your relationship.

            </div>
            <div style="text-align: left; font-size: 18px; color: rgba(0, 0, 0, 0.75); margin-left:50px; margin-right: 50px;">
                <img style= "width: 600px; height: 400;" src="Image/couple-quality-time-5-love-languages.jpg"><br/>
                <span style=" font-size: 34px; font-weight:bolder;">Quality Time<br/><br/></span>

                This language is all about undivided attention. No televisions, no smartphones, or any other distractions. 
                If this is your partner’s primary language, they don’t just want to be included during this period of time, 
                they want to be the center of your attention. They want their partners to look at them and them only.<br/><br/>
                This doesn’t mean that you don’t curl up on the couch to watch Netflix or HBO; it just means that you need to 
                make sure to dedicate time together without all of the distractions. That will help them feel comforted in the relationship.<br/><br/>
                Every time you cancel a date, postpone time together or aren’t present during your time together, it can be extremely hurtful to 
                your partner as it can make them feel like you care more about other things or activities than them.<br/><br/><br/><br/><br/>

                <img style= "width: 600px; height: 400;" src="Image/couple-acts-of-service-5-love-languages.jpg"><br/>
                <span style="font-size: 34px; font-weight:bold;">Acts of Service<br/><br/></span>

                Your partner might have this language if their motto is “Actions speak louder than words.”
                This language expresses itself by doing things that you know your spouse would like. Cooking a meal, doing the 
                laundry, and picking up a prescription are all acts of service. They require some thought, time, and effort.<br/><br/>
                All of these things should be done with positivity and with your partner’s ultimate happiness in mind to be considered 
                an expression of love. Actions out of obligation or with a negative tone are something else entirely.<br/><br/><br/><br/><br/>

                <img style= "width: 600px; height: 400;" src="Image/couple-words-of-affirmation-5-love-languages-2.jpg"><br/>
                <span style="font-size: 30px; font-weight:bold;">Words of Affirmation<br/><br/></span>
                This language expresses love with words that build up your partner. Verbal compliments 
                don’t have to be complicated; the shortest and simplest praises can be the most effective.<br/><br/>
                “That dress looks incredible on you!”<br/>
                “You always make me laugh.”<br/>
                “I love your hair today.”<br/><br/>
                Words mean a lot if your partner has this language. Compliments and an “I love you” can go a long 
                way. On the other hand, negative or insulting comments can hurt your partner and it could take them 
                longer to forgive than others.<br/><br/><br/><br/>

                <img style= "width: 600px; height: 400;" src="Image/couple-receiving-gifts-5-love-languages.jpg"><br/>
                <span style="font-size: 30px; font-weight:bold;">Receiving Gifts<br/><br/></span>

                This language isn’t necessarily materialistic. It just means that a meaningful or thoughtful gift makes your partner feel loved 
                and appreciated. Something as simple as picking up a pint of their favorite ice cream after a long work week can make a huge impact.<br/><br/>
                This is different than Acts of Service, where you show affection by performing actions to help your partner.<br/><br/><br/><br/><br/>

                <img style= "width: 600px; height: 400;" src="Image/couple-physical-touch-5-love-languages.jpg"><br/>
                <span style="font-size: 30px; font-weight:bold;">Physical Touch<br/><br/></span>


                To people with this language, nothing is more impactful than the physical touch of their partner. 
                They aren’t necessarily into over-the-top PDA, but they do feel more connected and safer in a relationship 
                by holding hands, kissing, hugging, etc.<br/><br/>
                If Physical Touch is your partner’s primary language, they will feel unloved without physical contact. 
                All of the words and gifts in the world won’t change that. They want to feel you close by, not just emotionally, 
                but physically.<br/><br/><br/><br/>

            </div>

        </div>

    </div>

        <div id="footer"></div>
        <!-----------------Dark Mode----------------------->
        <script>
            document.getElementById("Input").addEventListener("click",function(event){
                if(document.getElementById("Input").value == "OFF")
                {
                    document.getElementById("Input").value = "ON"
                    document.getElementById("Fbody").style.backgroundColor = "black";
                }
                else if(document.getElementById("Input").value == "ON")
                {
                    document.getElementById("Input").value = "OFF"
                    document.getElementById("MB2").style.color = "black";
                }
            });
        </script>
      
    </body>

</html>
