.body {
    margin: 0;
    background-color:#e6e6e6;
    font-family:Oswald;
}
/*Header include DarkModeswitch and Menu*/

/***************DarkModeswitch*****************/
#dmswitch {
    display: block;
    padding-top: 10px;
    padding-bottom: 11PX;
    padding-left: 20px;
    padding-right: 10px;
    float:left;
    font-size: 20px;
    color: #ffffff;
}
/****************FlipSwitch*****************/

.switch {
    position: relative;
    display: inline-block;
    width: 58px;
    height: 30px;
  }
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 5px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
input:checked + .slider {
    background-color: #2196F3;
  }
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
.slider.round {
    border-radius: 34px;
  }
  
.slider.round:before {
    border-radius: 50%;
  }

.dark,
.dark * {
    background-color: #222;
    color: #e6e6e6;
    border-color: #e6e6e6;
}
/***************** Menu ***********************/
nav {background-color: #A52A2A}

p { text-align: center; }
.toggle, [id^=drop] {display: none;}
                               
nav:after {
    content: "";
    display: table;
    clear: both;
}

nav ul {
    float: right;
    padding-left: 0px;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    background-color:#A52A2A;
    margin: 0px;
    display: block;
    float: left;
    
}

nav a {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color:#ffffff;
    font-size: 22px;
    line-height: 40px;
    text-decoration: none;
}

nav ul li ul li:hover { background: #000000; }

nav a:hover { background-color: #000000; }

nav ul ul {
    display:none;
    position: absolute;
    top: 80px;
}

nav ul li:hover > ul { display: inherit; }

nav ul ul li {
    width: 178px;
    float: none;
    display: list-item;
    position: relative;}
    
nav ul ul ul li {
    position: relative;
    top: -80px;
    left: 170px;
}

li > a:after { content: ' ▾'; }

li > a:only-child:after { content: ''; }

@media all and (max-width : 768px) {
    #dmswitch {
        display: block;
        padding-top: 8px;
        width: 100%;
        text-align: center;
        float: none;
    }
    
    nav {margin: 0; }

    .toggle + a,
    .menu { display:none; float: left; width: 100%; }

    .toggle {
        display: block;
        background-color: #A52A2A;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        color: #ffffff;
        font-size: 22px;
        line-height: 40px;
        text-decoration: none;
        border: none;}

    .toggle:hover { background-color: #000000; }

    [id^=drop]:checked + ul { display: block; }

    nav ul li {
        display: block;
        width: 100%;
    }
    
    nav ul ul .toggle,
    nav ul ul a { padding: 20 40px; }

    nav ul ul ul a { padding: 20 80px; }

    nav a:hover,
    nav ul ul ul a { background-color: #000000; }

    nav ul li ul li .toggle,
    nav ul ul a { background-color: #212121; }

    nav ul ul ul a { background-color:#333333; }

    nav ul ul {
        float: none;
        position: static;
        color: #ffffff;
    }

    nav ul ul li:hover > ul,
    nav ul li:hover > ul { display: none; }

    nav ul ul li {
        display: block;
        width: 100%;
    }

    nav ul ul ul li { position: static; }
}

@media all and (max-width : 330px) {
    nav ul li {
    display: block;
    width: 94%;
    }
}

/********* flexbox for middle Page 2Side ***********/
.whole-middlepage
{
    display: -webkit-box;     
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;
    min-height: 58%;    
    display: flex;
    overflow: auto;     
}

.middle-left
{
    -webkit-box-flex: 1;     
    -moz-box-flex: 1;         
    width: 30%;               
    -webkit-flex: 1;         
    -ms-flex: 1;             
    flex: 1;                  
    text-align: center;
    background-color:#778899;
}

.middle-right
{
    -webkit-box-flex: 2;     
    -moz-box-flex: 2;         
    width: 70%;               
    -webkit-flex: 2;         
    -ms-flex: 2;             
    flex: 2;                  
    text-align: center;
    background-color: purple;
}

.middle-left
{
    -webkit-box-ordinal-group: 1;  
    -moz-box-ordinal-group: 1;     
    -ms-flex-order: 1;     
    -webkit-order: 1;  
    order: 1;
}

.middle-right
{
    -webkit-box-ordinal-group: 2;   
    -moz-box-ordinal-group: 2;      
    -ms-flex-order: 2;             
    -webkit-order: 2;               
    order: 2;                       
}

/****************** Half-Middle ****************************/
#middle-bottom
{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: auto;
    width : 100%;
    height: 20%;
    padding: 0px; 
}

/****************** Footer ****************************/
#footer{
    background-color : #A52A2A;
    width : 100%;
    height: 5%;
    padding: 0px; 
}

/**************** Contact Box *****************/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    width: 55%;
    padding-top: 4%;
    padding-left: 23%;
    padding-right: 23%;
    padding-bottom: 5%;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

/**************** Image Behavior *****************/
#time
{
    cursor: pointer;
    width: 130px; 
    height: 130px;
    margin-inline-start: 60px;
    margin-inline-end: 50px;
    transition-duration: 0.4s;
}

#time:hover {
    
    color: white;
    
}

#acts
{
    cursor: pointer;
    width: 130px; 
    height: 130px;
    margin-inline-start: 60px;
    margin-inline-end: 50px;
    transition-duration: 0.4s;
}

#acts:hover {
    
    color: white;
}

#words
{
    cursor: pointer;
    width: 130px; 
    height: 130px;
    margin-inline-start: 60px;
    margin-inline-end: 50px;
    transition-duration: 0.4s;
}

#words:hover {
    
    color: white;
}

#gifts
{
    cursor: pointer;
    width: 130px; 
    height: 130px;
    margin-inline-start: 60px;
    margin-inline-end: 50px;
    transition-duration: 0.4s;
}

#gifts:hover {

    color: white;
}



#rounded_btn
{
    font-size: 20px;
    color: white;
    font-family: Oswald;
    text-decoration: none;
    text-align: center;
    padding: 20px 80px;
    border-radius: 40px;
    border: 2px solid white;
    cursor: pointer;
    background-color: #778899;
    transition-duration: 0.4s;
}

#rounded_btn:hover {
    background-color: #F08080;
    color: white;
}

#p1
{
    font-family: Oswald;
    font-size: 24px;
    margin-top: 30%; 
    padding: 20px;
    color: white;  
}

#p2
{
    font-family: Oswald;
    font-size: 24px;
    margin-top: 0px;
    color: black;   
}

#PRI
{ 
    text-align: unset;
    font-family: 'Times New Roman', Times, serif;

}


#button
{
    float: left;
    font-size: 20px;
    color: black;
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
    text-align: center;
    padding: 15px 15px;
    border-radius: 3px;
    border: 1px solid #6495ED;
    cursor: pointer;
    background-color: whitesmoke;
    transition-duration: 0.4s;
}

#button:hover {
    background-color: #6495ED;
    color: white;
}




/**********************************************/
.middle{
    
    max-height: 85%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow: scroll;   
}

/**********************************************/
.leftcontent{
    width : 50%;
    height: 84.1vh;
    float : left;
}

/**********************************************/
.rightcontent{
    width : 45%;
    height: 84.1vh;
    float : left;
    overflow: scroll;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    
}

#M_R
{
    height: auto;
    width: auto;
    max-height: 550px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
