* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family:Oswald;
}
#Full {
    min-height: 100%;
    overflow: scroll;
}

/****************** Footer ****************************/
#footer{
    background-color : #A52A2A;
    position: relative;
    height: 40px;
    margin-top: -40px;
    clear:both; 
}

/*Header include DarkModeswitch and Menu*/
/***************DarkModeswitch*****************/
#dmswitch {
    position: absolute;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 0px;
    padding-bottom: 0px;
    width: 0px;
    font-size: 20px;
    color: #ffffff;    
}
/****************FlipSwitch*****************/
.switch {
    position: sticky;
    display: inline-block;
    width: 58px;
    height: 30px;
    top: 20;
    left:15;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 5px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}
/***************** Menu ***********************/
nav {background-color: #A52A2A }

/*p { text-align: center; }*/
.toggle, [id^=drop] {display: none;}
                               
nav:after {
    content: "";
    display: table;
    clear: both;
}

nav ul {
    float: right;
    padding-left: 0px;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    background-color:#A52A2A;
    margin: 0px;
    display: block;
    float: left;
    
}

nav a {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color:#ffffff;
    font-size: 22px;
    line-height: 40px;
    text-decoration: none;
}

nav ul li ul li:hover { background: #000000; }

nav a:hover { background-color: #000000; }

nav ul ul {
    display:none;
    position: absolute;
    top: 80px;
}

nav ul li:hover > ul { display: inherit; }

nav ul ul li {
    width: 178px;
    float: none;
    display: list-item;
    position: relative;}
    
nav ul ul ul li {
    position: relative;
    top: -80px;
    left: 170px;
}

li > a:after { content: ' ▾'; }

li > a:only-child:after { content: ''; }

@media all and (max-width : 768px) {
    .switch {
        position:sticky;
        width: 58px;
        height: 30px;
        padding: 0px;
        border-radius: 35px;
      }

    #dmswitch {
        position: absolute;
        padding-top: 10px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        width: 0px;
        right: 120px; 
    }
    
    nav {margin: 0; }

    .toggle + a,
    .menu { display:none; float: left; width: 100%; }

    .toggle {
        display: block;
        background-color: #A52A2A;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        color: #ffffff;
        font-size: 22px;
        line-height: 40px;
        text-decoration: none;
        border: none;}

    .toggle:hover { background-color: #000000; }

    [id^=drop]:checked + ul { display: block; }

    nav ul li {
        display: block;
        width: 100%;
    }
    
    nav ul ul .toggle,
    nav ul ul a { padding: 20 40px; }

    nav ul ul ul a { padding: 20 80px; }

    nav a:hover,
    nav ul ul ul a { background-color: #000000; }

    nav ul li ul li .toggle,
    nav ul ul a { background-color: #212121; }

    nav ul ul ul a { background-color:#333333; }

    nav ul ul {
        float: none;
        position: static;
        color: #ffffff;
    }

    nav ul ul li:hover > ul,
    nav ul li:hover > ul { display: none; }

    nav ul ul li {
        display: block;
        width: 100%;
    }

    nav ul ul ul li { position: static; }
}

@media all and (max-width : 330px) {
    nav ul li {
    display: block;
    width: 94%;
    }

}

/********* flexbox for middle Page ***********/
.flexbox-container
{   
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

.Item_In_Middle_Of_Page {
    margin: 0px;
    border: 2px hidden ;
    
}

.Item_InMiddlePage_LeftSide
{
    background-color:#778899;
    max-height: 60vh;
    height: 100vh;
    width: 30%;
    flex-grow: 1;
}

.Item_InMiddlePage_RightSide
{             
    max-height: 60vh;
    height: 100vh;
    width: 70%;
    flex-grow: 1;
}

.Item_InMiddlePage_LeftSide_quiz
{
    position: relative;
    background-color:#778899;
    max-height: 86vh;
    height: 100vh;
    width: 50%;
    flex-grow: 1;
}

.Item_InMiddlePage_RightSide_quiz
{
    position: relative;            
    max-height: 86vh;
    height: 100vh;
    width: 50%;
    flex-grow: 1;
}

.Item_Inside_InMiddlePage_LeftSide
{   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
         
}

.item {
    
    border: 1px hidden #333;
    
}

.item-1
{
    flex-grow: 1;
    width: 95%;
    height:60%;
    max-height: 45%;
    overflow: auto;   
}

.item-2
{
    flex-grow: 1;
    width: 100%;
    height:30%; 
    max-height: 30%; 
}

.Start_button_container
{  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    margin: 0;
       
}

.text-block-left {
    position: absolute;
    bottom: 30px;
    left: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.text-block-right {
    position: absolute;
    top: 30px;
    left: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
/*******************************************/

.ite {
    
    border: 1px solid black;
    background-color: #dfdfdf;
}

.ite-1
{ 
    
    background-color:red;
    flex-grow: 1;
    width: 100%;
    height:90%;
    max-height: 90%;    
}


form {
    margin: 0 auto;
    margin-top: 50px;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
  
.button {
    margin: 0 auto;
    padding-left: 350px; 
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    border-color: red;
}

/****************** Half-Middle ****************************/
.middle-bottom
{
    text-align: center; 
    width : 100%;
    height: 60px;
    margin-top: 10px; 
    margin-bottom: 100px;  
}



/**************** Contact Box *****************/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    width: 100%;
    padding-left: 23%;
    padding-right: 23%;
    
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

/**************** Image Behavior *****************/
#time
{
    cursor: pointer;
    width: 140px; 
    height: 140px;
    margin-left: 20px;
    margin-right: 20px;
    transition-duration: 0.4s;
}

#time:hover {
    
    color: white;
    
}

#acts
{
    cursor: pointer;
    width: 140px; 
    height: 140px;
    margin-left: 20px;
    margin-right: 20px;
    transition-duration: 0.4s;
}

#acts:hover {
    
    color: white;
}

#words
{
    cursor: pointer;
    width: 140px; 
    height: 140px;
    margin-left: 20px;
    margin-right: 20px;
    transition-duration: 0.4s;
}

#words:hover {
    
    color: white;
}

#gifts
{
    cursor: pointer;
    width: 140px; 
    height: 140px;
    margin-left: 20px;
    margin-right: 20px;
    transition-duration: 0.4s;
}

#gifts:hover {

    color: white;
}

#physical
{
    cursor: pointer;
    width: 140px; 
    height: 140px;
    margin-left: 20px;
    margin-right: 20px;
    transition-duration: 0.4s;
}

#physical:hover {

    color: white;
}


.rounded_btn
{
    font-size: 20px;
    color: white;
    font-family: Oswald;
    text-decoration: none;
    text-align: center;
    padding: 20px 80px;
    border-radius: 40px;
    border: 2px solid white;
    cursor: pointer;
    background-color: #778899;
    transition-duration: 0.4s;
    
}

.rounded_btn:hover {
    background-color: #F08080;
    color: white;
}

.rounded_btn_Quiz
{
    font-size: 25px;
    max-width: 500px;
    min-width: 500px;
    max-height: 200px;
    min-height: 200px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
    font-family: Oswald;
    text-align: center;
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
    background-color: #778899;
    transition-duration: 0.4s;
   
}

.rounded_btn_Quiz:hover {
    background-color: #F08080;
    color: white;
}

.rounded_btn_percent
{
    font-size: 28px;
    width: 88px;
    height: 88px;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 45px;
    font-family: Oswald;
    text-align: center;
    border-radius: 50px;
    border: 2px solid black;
    color: black;  
    background-color: white;
}

#p1
{
    font-family: Oswald;
    font-size: 24px;
    color: white; 
}

.p2
{
    font-family: Oswald;
    font-size: 24px;
    margin: 60px;
    text-align: center;
    color: black;   
}

.PRI
{ 
    font-size: 20px;
    font-family: Oswald;
    margin-top: 15px;
}


#button
{
    float: left;
    font-size: 20px;
    margin-top: 10px;
    color: black;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    padding: 15px 15px;
    border-radius: 3px;
    border: 1px solid #6495ED;
    cursor: pointer;
    background-color: whitesmoke;
    transition-duration: 0.4s;
}

#button:hover {
    background-color: #6495ED;
    color: white;
}



/**********************************************/
.middleContact{
    width: 100%;
    height: 84.1vh;
    float : left;
    overflow: scroll;   
}
/**********************************************/
.middle{
    
    
    padding-left: 20px;
    padding-right: 10px;
    overflow: scroll;   
}

/**********************************************/
.leftcontent{
    width : 50%;
    height: 84.1vh;
    float : left;
}

/**********************************************/
.rightcontent{
    width : 45%;
    height: 84.1vh;
    float : left;
}

#more
{
    display: none;
}

.box{ 
    width: 100%; 
    height: 100%; 
    border: 1px solid black;
} 

img{ 
    width: 100%; 
    height: 100%;
    cursor: pointer; 
}

.pic:hover {
webkit-filter: blur(3px); /* Chrome, Safari, Opera */
filter: blur(3px);

}

/********* register page **********/
.login-page{
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow: scroll;
}

.form{
    width: 100%;
    max-height: 100%;
}

.form input {
    font-family: "Roboto" , sans-serif;
    outline:1;
    background: #f2f2f2;    
    border: 0;    
    margin: 0 0 5px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;    
}

.form .create{
    font-family: "Roboto" , sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4caf50;
    width:auto;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}

.form .create:hover , .form .create:active{
    background: #43a047;
}  

.form .message{
    margin: 15px;
    color: aliceblue;
    font-size: 18px;
}

.form .message a {
    color: aliceblue;
    text-decoration: none;
}

.form .register-form{
    display: none;
    font-size: 20px;
    width: 90%;
    margin-top: 0px;
    border: hidden;
}


/***************** End Register page **********************/
.login-form{
    width: 90%;
    margin-top: 0px;
    border: hidden;
}


.log_out{
    background: #A52A2A;
    font-size: 20px;
    padding-left: 20px;
    border-bottom: 2px solid #ffffff;    
}

a{
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 2px;
}
.log_out a:link {
  
  font-family: Oswald;
}



/*#############################################*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
  
  section.wrapper {
    padding: 40px 0;
  }
  section.wrapper.dark {
    background: #313134;
  }
  
  div.spinner {
    -moz-animation: rotate 10s infinite linear;
    -webkit-animation: rotate 10s infinite linear;
    animation: rotate 10s infinite linear;
    position: relative;
    display: block;
    margin: auto;
    width: 142px;
    height: 142px;
  }
  div.spinner i {
    -moz-animation: rotate 3s infinite cubic-bezier(0.09, 0.6, 0.8, 0.03);
    -webkit-animation: rotate 3s infinite cubic-bezier(0.09, 0.6, 0.8, 0.03);
    animation: rotate 3s infinite cubic-bezier(0.09, 0.6, 0.8, 0.03);
    -moz-transform-origin: 50% 100% 0;
    -webkit-transform-origin: 50% 100% 0;
    transform-origin: 50% 100% 0;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    border: solid 6px transparent;
    border-bottom: none;
  }
  div.spinner i:nth-child(1) {
    -moz-animation-timing-function: cubic-bezier(0.09, 0.3, 0.12, 0.03);
    -webkit-animation-timing-function: cubic-bezier(0.09, 0.3, 0.12, 0.03);
    animation-timing-function: cubic-bezier(0.09, 0.3, 0.12, 0.03);
    width: 44px;
    height: 22px;
    margin-top: -22px;
    margin-left: -22px;
    border-color: #2172b8;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
  }
  div.spinner i:nth-child(2) {
    -moz-animation-timing-function: cubic-bezier(0.09, 0.6, 0.24, 0.03);
    -webkit-animation-timing-function: cubic-bezier(0.09, 0.6, 0.24, 0.03);
    animation-timing-function: cubic-bezier(0.09, 0.6, 0.24, 0.03);
    width: 58px;
    height: 29px;
    margin-top: -29px;
    margin-left: -29px;
    border-color: #18a39b;
    border-top-left-radius: 42px;
    border-top-right-radius: 42px;
  }
  div.spinner i:nth-child(3) {
    -moz-animation-timing-function: cubic-bezier(0.09, 0.9, 0.36, 0.03);
    -webkit-animation-timing-function: cubic-bezier(0.09, 0.9, 0.36, 0.03);
    animation-timing-function: cubic-bezier(0.09, 0.9, 0.36, 0.03);
    width: 72px;
    height: 36px;
    margin-top: -36px;
    margin-left: -36px;
    border-color: #82c545;
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;
  }
  div.spinner i:nth-child(4) {
    -moz-animation-timing-function: cubic-bezier(0.09, 1.2, 0.48, 0.03);
    -webkit-animation-timing-function: cubic-bezier(0.09, 1.2, 0.48, 0.03);
    animation-timing-function: cubic-bezier(0.09, 1.2, 0.48, 0.03);
    width: 86px;
    height: 43px;
    margin-top: -43px;
    margin-left: -43px;
    border-color: #f8b739;
    border-top-left-radius: 54px;
    border-top-right-radius: 54px;
  }
  div.spinner i:nth-child(5) {
    -moz-animation-timing-function: cubic-bezier(0.09, 1.5, 0.6, 0.03);
    -webkit-animation-timing-function: cubic-bezier(0.09, 1.5, 0.6, 0.03);
    animation-timing-function: cubic-bezier(0.09, 1.5, 0.6, 0.03);
    width: 100px;
    height: 50px;
    margin-top: -50px;
    margin-left: -50px;
    border-color: #f06045;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }
  div.spinner i:nth-child(6) {
    -moz-animation-timing-function: cubic-bezier(0.09, 1.8, 0.72, 0.03);
    -webkit-animation-timing-function: cubic-bezier(0.09, 1.8, 0.72, 0.03);
    animation-timing-function: cubic-bezier(0.09, 1.8, 0.72, 0.03);
    width: 114px;
    height: 57px;
    margin-top: -57px;
    margin-left: -57px;
    border-color: #ed2861;
    border-top-left-radius: 66px;
    border-top-right-radius: 66px;
  }
  div.spinner i:nth-child(7) {
    -moz-animation-timing-function: cubic-bezier(0.09, 2.1, 0.84, 0.03);
    -webkit-animation-timing-function: cubic-bezier(0.09, 2.1, 0.84, 0.03);
    animation-timing-function: cubic-bezier(0.09, 2.1, 0.84, 0.03);
    width: 128px;
    height: 64px;
    margin-top: -64px;
    margin-left: -64px;
    border-color: #c12680;
    border-top-left-radius: 72px;
    border-top-right-radius: 72px;
  }
  div.spinner i:nth-child(8) {
    -moz-animation-timing-function: cubic-bezier(0.09, 2.4, 0.96, 0.03);
    -webkit-animation-timing-function: cubic-bezier(0.09, 2.4, 0.96, 0.03);
    animation-timing-function: cubic-bezier(0.09, 2.4, 0.96, 0.03);
    width: 142px;
    height: 71px;
    margin-top: -71px;
    margin-left: -71px;
    border-color: #5d3191;
    border-top-left-radius: 78px;
    border-top-right-radius: 78px;
  }
  
  @-moz-keyframes rotate {
    to {
      -moz-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes rotate {
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotate {
    to {
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }  


/************************************************/
.result_Img {
    position: relative;
    text-align: center;
    color: white;
    display: inline-block;
    font-size: 40px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
